.footer {
    padding: 64px 0 0;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -23%;

    &-img {
        display: block;
        width: 100%;
        height: auto;

        &-mobile {
            display: none;
        }
    }

    .container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
    }

    &-content {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 25.7vw 0 50px;
    }


    &-socials {
        display: flex;
        align-items: center;
        gap: 0.55vw;
        margin-bottom: 4vw;

        .button {
            border-radius: 0.69vw;
            padding: 0.64vw;

            svg {
                width: 1.66vw;
                height: 1.66vw;
            }
        }

        .button.text {
            padding: 0.40vw 0.64vw 0.24vw;
            font-size: 1.66vw;
        }

        &-link {
            border-radius: 10px;
            border: 2px solid #000;
            background: #F68713;
            box-shadow: 0 2px 0 0 #000;
            padding: 0.69vw;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            white-space: nowrap;

            &.icon {
                font-size: 0;
                width: 0.8vw;
            }

            &.text {
                padding: 0.69px 1.52vw 0;
                color: #000;
                font-family: 'Luckiest Guy', system-ui;
                font-size: 1.66vw;
                font-style: normal;
                font-weight: 400;
                line-height: 140%;
                white-space: nowrap;
            }

        }
    }

    &-row {
        display: grid;
        grid-template-columns:60px 2fr;
        gap: 4.44vw;

        &-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 4.44vw;
            height: 4.44vw;

            svg {
                width: 100%;
                height: auto;
            }
        }
    }

    &-nav {
        display: flex;
        gap: 4.44vw;

        &-item {
            list-style: none;
            padding: 0;
            margin: 0;
            transition: 0.2s all ease-in-out;

            &:hover {
                a {
                    color: rgba(27, 26, 26, 0.8);
                }
            }

            a {
                text-decoration: none;
                color: #000;
                font-size: 1.11vw;
                font-weight: 400;
                line-height: 140%;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }
    }

    &-copyright {
        color: #000;
        font-size: 1.11vw;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        padding: 10% 0 0;
        position: relative;
        margin-top: -60%;

        &-img {
            display: none;

            &-mobile {
                display: block;
                width: 100%;
                height: auto;
            }
        }

        .container {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 100%;
        }

        &-content {
            width: 100%;
            padding: 250px 0 50px;
        }

        &-socials {
            display: grid;
            //grid-template-columns: repeat(5, 1fr);
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            align-items: center;
            gap: 8px;

            .button {
                width: 56px;
                height: 56px;
                border-radius: 10px;
                padding: 4px;
                margin: 0 auto;

                svg {
                    width: 24px;
                    height: 24px;
                }
            }

            .button.text {
                grid-column: span 5;
                width: 100%;
                padding: 10px 15px 0;
                font-size: 24px;
                margin-bottom: 16px;
            }
        }

        &-row {
            display: grid;
            grid-template-columns:1fr;
            gap: 32px;

            &-logo {
                width: 64px;
                height: 64px;
            }
        }

        &-nav {
            display: flex;
            gap: 16px;

            &-column {
                gap: 16px;
                display: flex;
                flex-direction: column;
            }


            &-item {
                a {
                    color: #000;
                    -webkit-text-stroke-width: 0.2px;
                    -webkit-text-stroke-color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    text-transform: uppercase;
                }
            }
        }

        &-copyright {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .footer {
        padding: 64px 0 0;
        margin-top: -19%;

        .container {
            left: 45%;
        }
    }
}