.select {
    &-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        width: 100%;
    }

    &-label {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    &-error {
        color: #CA1E3C;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
    }

    &-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &-check-icon {
        width: 24px;
        height: 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &-flag {
        display: flex;
        align-items: center;
        gap: 8px;


        &-img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
        }

        & span {
            white-space: nowrap !important;
        }
    }

    &__control {
        border-radius: 12px !important;
        border: 1px solid #000 !important;
        background: #FFFFB8 !important;
        padding: 14px !important;
        box-shadow: none !important;
    }

    &__indicator {
        color: black !important;

        &-separator {
            display: none !important;
        }
    }

    &__menu {
        border: none !important;
        background: #FFFFB8 !important;
        height:fit-content!important;
        box-shadow: none !important;
        &-list {
            border-radius: 12px !important;
            border: 1px solid #000 !important;
            background: #FFFFB8 !important;
            height: 250px!important;
        }
    }

    &__option {
        padding: 21px !important;
        background-color: #FFFFB8 !important;

        &:hover {
            background: #ffebb8 !important;
        }

        &--is-selected {
            background: #e47f0a !important;
            color: #000 !important;
        }
    }
}
@media screen and (max-width: 768px){
    .select{
        &__menu {
            &-list {
                   height: 210px!important;
            }
        }
    }
}