* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html,
body {
    font-family: 'McLaren', system-ui;
    //font-family: 'Luckiest Guy', system-ui;
}

body {
    position: relative;
}

.page-background {
    &-mobile {
        display: none;
    }
}

main {
    margin-top: -8.58vw;
}

.container {
    max-width: 1440px;
    padding: 0 24px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 877px) {
    .page-background {
        display: none;
        &-mobile {
            display: block;
        }
    }
    main {
        margin-top: -134px;
    }
}

@import 'ui/header';
@import 'ui/button';
@import 'banner';
@import 'product';
@import 'choose';
@import 'story';
@import 'faq';
@import 'ui/footer';
@import 'order';
@import 'ui/input';
@import 'ui/select';
@import 'sizing-popup';
@import 'order-result';
