* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html, body {
    font-family: 'McLaren', system-ui;
    //font-family: 'Luckiest Guy', system-ui;
}

body {
    background-image: url("/img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main {
    margin-top: -8.58vw;
}

.container {
    max-width: 1440px;
    padding: 0 24px;
    margin: 0 auto;
    width: 100%;
}

@media screen and (max-width: 877px) {
    body {
        background-image: url("/img/background-mobile.png");
    }
    main {
        margin-top: -134px;
    }
}


@import "ui/header";
@import "ui/button";
@import "banner";
@import "product";
@import "choose";
@import "story";
@import 'faq';
@import "ui/footer";
@import "order";
@import "ui/input";
@import "ui/select";
@import "sizing-popup";
@import "order-result";
