.order {
    &-popup {
        position: fixed;
        inset: 0;
        overflow: hidden;
        width: 100vw;
        height: 100vh;
        fill: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(15px);
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: all;
        overflow-y: auto;

        &-content {
            margin: 0 auto;
            width: 656px;
            height: auto;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 4px;
        }

        &-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 24px;

            &-title {
                color: #FFDD09;
                -webkit-text-stroke-width: 2px;
                -webkit-text-stroke-color: #000;
                font-family: "Luckiest Guy", sans-serif;
                font-size: 48px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                text-transform: uppercase;
            }

            &-button {

            }
        }

        &-summary {
            padding-right: 24px;
            overflow: auto;
            height: 100%;

            &::-webkit-scrollbar {
                width: 24px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 6px;
                border: 1px solid #000;
                background: #FFDD09;
            }

            &::-webkit-scrollbar-thumb {
                border: 1px solid #000;
                background: #FC9601;
                border-radius: 6px;
                box-shadow: 0 2px 0 0 #000;

            }

            &-wrapper {
                padding: 24px;
                border-radius: 12px;
                border: 1px solid #000;
                background: #FFFFB8;
                box-shadow: 0 4px 0 0 #000;
                overflow: hidden;
                flex: auto;

            }
        }

        &-main {
            margin-bottom: 48px;

            &-title {
                color: #000;
                font-family: "Luckiest Guy", sans-serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                text-transform: uppercase;
                margin-bottom: 24px;
            }

            &-context {
                display: flex;
                align-items: center;
                gap: 24px;
            }

            &-description {
                display: flex;
                flex-direction: column;
                gap: 4px;

                &-title {
                    color: #000;
                    font-family: "Luckiest Guy", sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }

                &-span {
                    color: #000;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                }

                &-price {
                    color: #000;
                    font-family: "Luckiest Guy", sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 140%;
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 32px;
                    }

                    .free {
                        border-radius: 6px;
                        border: 2px solid #000;
                        background: #37CC54;
                        box-shadow: 0 2px 0 0 #000;
                        padding: 6px 8px 2px;
                        color: #000;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 140%;
                        margin: 4px 0 13px 16px;
                    }
                }
            }
        }

        &-details {
            display: flex;
            flex-direction: column;
            gap: 16px;
            height: 100%;

            &-title {
                color: #000;
                font-family: "Luckiest Guy", sans-serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 100%;
                text-transform: uppercase;
                margin-bottom: 24px;
            }

            &-row {
                display: flex;
                align-items: center;
                gap: 24px;
            }

            &-button {
                width: 100%;
                margin-top: 24px;
                padding: 19px 20px 8px !important;
            }
        }
        &-select{
            border-radius: 12px;
            border: 1px solid  #000;
            background: #FFFFB8;
            
        }
    }
}